
 @font-face {

  font-family: Shadows;

  src: url('./font.ttf');

}


 .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
 nav{
  background-color: aquamarine;
  border: 2px solid white;
  padding: 10px;
  margin:10px;
  cursor: pointer;
 } 
 body{
  background: url('./background.png');
 }
 .outer-div{
  background-color:rgb(255, 174, 0); width:70vw; height:50vw;
  padding:10px;
  margin:auto;
  border: 2px solid rgb(36, 33, 33);
  border-radius: 10px;
 }
 .inner-div{
  background-color:rgb(220, 229, 157); width:70vw; height:50vw;
  margin:auto;
  border: 2px solid rgb(36, 33, 33);
  border-radius: 10px;
 }
 .image{
  width:50%;
  height:50%;
  margin:5% 25% 2% 25%;
 }
 p{
  margin: 3em;
  font-family: Shadows;
  font-size: large;
 }